[icon]:before,
[data-icon]:before,
.icon {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.icon,
[icon]:before,
[data-icon]:before {
  margin-block: 3px;
  font-size: 1.8rem;
}

.icon,
[icon]:before,
[data-icon] {
  content: attr(data-icon);
}

.font-size\:-2 { font-size: var(--size--2); }
.font-size\:-1 { font-size: var(--size--1); }
.font-size\:0 { font-size: var(--size-0); }
.font-size\:1 { font-size: var(--size-1); }
.font-size\:2 { font-size: var(--size-2); }
.font-size\:3 { font-size: var(--size-3); }
.font-size\:4 { font-size: var(--size-4); }
.font-size\:5 { font-size: var(--size-5); }

.font-weight\:100 { font-weight: 100; }
.font-weight\:200 { font-weight: 200; }
.font-weight\:300 { font-weight: 300; }
.font-weight\:400 { font-weight: 400; }
.font-weight\:500 { font-weight: 500; }
.font-weight\:600 { font-weight: 600; }
.font-weight\:700 { font-weight: 700; }

.text-transform\:uppercase { text-transform: uppercase; }
.text-transform\:lowercase { text-transform: lowercase; }
.text-transform\:capitalize { text-transform: capitalize; }
.text-transform\:none { text-transform: none; }

.float\:left { float: left; }
.float\:right { float: right; }

.aux {
  outline: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

.card-aux {
  outline: 1px solid var(--black-color-10-tint);
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  aspect-ratio: 16 / 9;
}

  .card-aux__image {
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .card-aux__brow {
    font-weight: 600;
    line-height: 1.2em;
  }


.panel-aux {
  outline: 2px solid black;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}

.hide-on-mobile {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.base-link {
  color: var(--base-color);
  text-decoration: none;
}

.hero__content {
  display: grid;
  grid-template-columns: subgrid;
  margin-bottom: var(--space-2xl-3xl);
}

.hero__content>*:first-child {
  grid-column: content-start / col6;
}

.hero__content .panel {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  max-width: 39.5rem;
}

.hero__content .panel span {
  font-weight: 300;
  font-size: var(--size-0);
}

.hero__content .panel h1 {
  margin-bottom: var(--space-xs-s);
}

.hero__content .panel a {
  margin: var(--space-l-xl) 0;
  font-weight: 400;
}

.hero__content>*:last-child {
  grid-column: col7 / content-end;
}

.hero__content img {
  aspect-ratio: 1/1;
}

.hero__brow {
  font-weight: 700;
  color: var(--primary-color);
}